@using System
@using System.Globalization
@model RssReaderOptions
@{
    ViewData["Title"] = "Settings";
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
<div>
    @Html.TextBoxFor(b => b.UpdateInterval, new { @class = "form-control", placeholder = "Update Interval (In seconds)" })


    <br />

    @Html.CheckBoxFor(b => b.EnableFormatting)
    @Html.LabelFor(b => b.EnableFormatting)
    @Html.ValidationMessageFor(b => b.EnableFormatting)
    <br />
    
    @{
        string line = ViewBag.Feeds;
    }

    @Html.TextAreaFor(b=>@line, new { @class = "form-control", placeholder = "Sources of RSS", rows = 5 })
     

</div>
    <br />
    <button class="btn btn-success" type="submit">Save</button>
}